* {
    margin: 0;
    padding: 0;
}
body{
font-family: sans-serif;
}

.cabecalho{
    background-color: #4BD081;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.imagem-1-cabecalho{
    width: 30%;
    height: 30%;
}

.imagem-2-cabecalho{
    width: 8%;
    height: 8%;
}

.item-lista-cabecalho{
font-size: 25px;
margin: 40px;
display: inline-block;
}

.escola{
    background-color: #C7FFDD;
    padding: 100px 100px;
}

.escola-título{
    color: #4BD081;
    font-size:40px ;
padding-left: 200px;
   
}

.galeria-de-fotos{
    background-image: linear-gradient(#C7FFDD, #FFFFFF);
}
.título-galeria{
    color: #4BD081;
    font-size: 25px;
    padding-left: 550px;

}
.imagem-escola{
    width: 20%;
    height: 20%;
    padding-left: 480px;
    margin: 30px;
}